<div id="<%= dom_id complaint %>">
  <p>
    <strong>Product:</strong>
    <%= complaint.product %>
  </p>

  <p>
    <strong>Complain what happened:</strong>
    <%= complaint.complain_what_happened %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= complaint.issue %>
  </p>

  <p>
    <strong>Sub product:</strong>
    <%= complaint.sub_product %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= complaint.zip_code %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= complaint.tags %>
  </p>

  <p>
    <strong>Complaint:</strong>
    <%= complaint.complaint_id %>
  </p>

  <p>
    <strong>Timely:</strong>
    <%= complaint.timely %>
  </p>

  <p>
    <strong>Consumer consent provided:</strong>
    <%= complaint.consumer_consent_provided %>
  </p>

  <p>
    <strong>Company response:</strong>
    <%= complaint.company_response %>
  </p>

  <p>
    <strong>Submitted via:</strong>
    <%= complaint.submitted_via %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= complaint.company %>
  </p>

  <p>
    <strong>Date received:</strong>
    <%= complaint.date_received %>
  </p>

  <p>
    <strong>State:</strong>
    <%= complaint.state %>
  </p>

  <p>
    <strong>Consumer disputed:</strong>
    <%= complaint.consumer_disputed %>
  </p>

  <p>
    <strong>Company public response:</strong>
    <%= complaint.company_public_response %>
  </p>

  <p>
    <strong>Sub issue:</strong>
    <%= complaint.sub_issue %>
  </p>

</div>
