
<% content_for :title do %>
  Complaint System &mdash; <%= DateTime.now.strftime("%d %B %Y") %>
<% end %>

<div class="container mt-6">
  <% @complaints.each_slice(4) do |complaint_group| %>
    <div class="columns mb-6">
      <% complaint_group.each do |complaint| %>
        <div class="column is-3">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <%= complaint.company %> - <%= complaint.product %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <p>
                  <strong>Complaint ID:</strong> <%= complaint.complaint_id %>
                </p>
                <p>
                  <strong>Sub Issue:</strong> <%= complaint.sub_issue %>
                </p>
                <p>
                  <strong>State:</strong> <%= complaint.state %>
                </p>
                <p>
                  <strong>Date Received:</strong> <%= complaint.date_received %>
                </p>
                <p class="italic">
                  Logged <%= time_ago_in_words(complaint.created_at) %> ago
                </p>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to "Show", complaint_path(complaint), class: "card-footer-item" %>
              <%= link_to "Edit", edit_complaint_path(complaint), class: "card-footer-item" %>
              <%= button_to "Destroy", complaint, method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item" %>
            </footer>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>