<% content_for :title do %>
  <%= @complaint.company.presence || 'Complaint' %> &mdash; <%= DateTime.now.strftime("%d %B %Y") %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        <%= @complaint.company.presence || 'Company Not Specified' %>
      </p>

      <% [
        ['Product', :product],
        ['Complaint ID', :complaint_id],
        ['Timely Response', :timely],
        ['Consumer Consent Provided', :consumer_consent_provided],
        ['Company Response', :company_response],
        ['Submitted Via', :submitted_via],
        ['Date Received', :date_received],
        ['State', :state],
        ['Consumer Disputed', :consumer_disputed],
        ['Company Public Response', :company_public_response],
        ['Sub Issue', :sub_issue]
      ].each do |label, attr| %>
        <% if @complaint.send(attr).present? %>
          <div class="panel-block">
            <strong><%= label %>:</strong> <%= @complaint.send(attr) %>
          </div>
        <% end %>
      <% end %>
    </nav>

    <div class="columns is-mobile mt-4">
      <div class="column">
        <%= link_to "Edit", edit_complaint_path(@complaint), class: "button is-gray" %>
        <%= button_to "Delete", @complaint, method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <%= link_to "Back to complaints", complaints_path, class: "button is-link" %>
</div>